.row-bottom {
    margin-bottom: 50px;
}

.card-width {
    height: 30rem;
    width: 20rem;
}

.card-bottom {
    margin-bottom: 50px;
}

.badge-nodejs {
    background-color: #215732;
    color: white;
}

.badge-react {
    background-color: #00d8ff;
    color: white;
}

.badge-graphql {
    background-color: #e10098;
    color: white;
}

.badge-docker {
    background-color: #0db7ed;
    color: white;
}

.badge-sfml {
    background-color: #8ece3e;
    color: white;
}

.badge-android {
    background-color: #a4c639;
    color: white;
}

.badge-opencv {
    background-color: #ff0101;
    color: white;
}

.badge-processing {
    background-color: #173b5f;
    color: white;
}

.badge-unity {
    background-color: #222c37;
    color: white;
}

.badge-scikit {
    background-color: #f89939;
    color: white;
}
